<article class="project other medium center">
    <header>
      <h2>✰ {{doc.title}}</h2>
    </header>
    <section class="description">
      {{doc.body | markdownify | safe}}
    </section>
  </article>
  