<article class="project tutorial">
  <header>
    <h2>✍︎ <a href="{{tutorial.url}}">{{tutorial.title}}</a></h2>
  </header>
  <section>
    <ul class="tech">
      {% for technology in tutorial.technologies %}
          <li>{{technology}}</li>
      {% endfor %}
    </ul>
    {{tutorial.description | markdownify | safe}}
  </section>
</article>
