:root {
    --color-main-text: #3e3355;
    --color-main-text-transparent: rgba(62,51,85,0.12);
    --color-main-bg: #FEFDFC;

    --color-brand-main: #E2D4FF;
    --color-brand-main-outline: #400356;
    --color-brand-main-transparent: rgb(226, 212, 255, 0.5);

    --color-brand-secondary: #FFDE69;
    --color-brand-secondary-outline: #594600;
    --color-brand-secondary-transparent: rgb(255, 222, 105, 0.4);

    --color-brand-tertiary: #8AE6FB;
    --color-brand-tertiary-outline: #00303A;

    --color-brand-quad: #A4E8A3;
    --color-brand-quad-outline: #004012;

    --color-selection-bg: #F9B0FF ;
    --color-selection-text: #6C044F;

    --accent-border: linear-gradient(90deg, #FFAAD3, #FF9D7A, #FFDE69, #A4E8A3, #8AE6FB, #E2D4FF);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.4rem;
    background-color: var(--color-main-bg);
    color: var(--color-main-text);
}

body {
    font-size: 1.5rem;
    font-family: 'Roboto', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

a {
    color: var(--color-main-text);
}

body > header {
    display: block;
    margin: 5rem auto 7.5rem auto;
}

body > header p {
    font-size: 2rem;
    line-height: 2.75rem;
}

body > header p a,
body > footer p a:hover {
    color: var(--color-selection-text);
    background-color: var(--color-selection-bg);
}

body > header p a:hover {
    text-decoration: none;
}

body > footer {
    display: block;
    margin: 5rem auto 10rem auto;
}

body > header h1 {
    margin-bottom: 1rem;
    font-family: 'SpaceGroteskMedium', 'Roboto', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

body > footer p {
    text-align: center;
}

nav {
    display: block;
    margin: 0 auto 2rem auto;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 2rem;
}

nav li:last-child {
    margin-right: 0rem;
}

nav li a {
    color: var(--color-main-text);
    text-decoration: none;
    border-bottom: 2px solid var(--color-main-text);
}

nav li a:hover {
    border-image: var(--accent-border) 1;
}

::selection {
    background-color: var(--color-selection-bg);
    color: var(--color-selection-text);
}

.large {
    width: 100rem;
    max-width: 95vw;
}

.medium {
    width: 80rem;
    max-width: 90vw;
}

.small {
    width: 70rem;
    max-width: 95%;
}

@media screen and (max-width: 35rem) {
    nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 1.5rem;
        text-align: left;
        font-size: 2rem;
    }

    body > header {
        margin-bottom: 5rem;
    }
}