<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✼ Sarah Fossheim's Projects ✼</title>
    <meta name="description" content="I know this needs a description for SEO etc but I'm not planning on making this public so won't spend time thinking of a good description, sorry.">

    {% set css %}
      {% include "../../styles/fonts.css" %}
      {% include "../../styles/main.css" %}
      {% include "../../styles/project.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style> 
  </head>
  <body>
    <header class="medium">
      <h1>Header</h1>
      <p>Intro text</p>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>


