---
layout: layouts/base.njk
---

<section class="projects">
    {% for project in projects %}
        {% include 'components/project.njk' %}
    {% endfor %}
</section>

<section class="other">
    {% for doc in other %}
        {% include 'components/other.njk' %}
    {% endfor %}
</section>

<section class="tutorials large">
    {% for tutorial in tutorials %}
        {% include 'components/tutorial.njk' %}
    {% endfor %}
</section>
